language: node_js
node_js:
  - stable

cache:
  directories:
    - node_modules

before_install:
  - npm i

script:
  - npm run test
  - npm run coveralls

deploy:
  provider: npm
  email: thomas.poignant@gmail.com
  skip_cleanup: true
  api_key:
    secure: BEU2xwXxtTnIDEZHS14UYwiANXmxB2KhJrCmBQ7BA3u6VnxOPMfgtUh4Hi/unNwUDUJD5EwOUejLnPnKmFD2wWWayOEvXKqnUaUEdVYLLlK+6/5F97R62ncJaOfDhEdC3PXhCsMSvpkhhjwQOtA018X+jxALMYmYwBNcmKLerMSZCUw0josz8XBchs+/6TeaUU2B9gdmEyp7+6qfV+L9e48ijWX+fepIphZ/ZyWh2lUPkinAb+jT5egK9gdnJDw48JXF+RVRMgIfsxrKc0ATm+N0qtk4LyiEQLeCN8nSK4hn9cPH5+O5d8cnJL8T0cXqVZuPTdlMYFwHvnhc7mtPo418Mm0vEpspIY7bCPC0BIGZCcYWpfcCbJ6yvXi+wWXAxgbbFV5SjZThIS4Nd5fmswdiA/dhTjAM7Uq9/t4sEwfLTTDCR0ySnarPbpelCiIJWXcC+wcx/84YKxVqZAURE5n4YZjuaCZUBbaX/W07r3Gr4wPhoTLr+qzOjrxEOFCAeoHSATU9YXIIpP1t4NJhVqrbs6qP8K7w6sLdi1rdMZU0ZCz1298gtOp3zU+v6RSznXFWcHbPwuqd4VFqbbtwJnvxit17a5zKfITqg36omDUtlQVnFyFntdheANjNLZm5RJYb3nsLxVk/lcX1OFdVhMMTmFeOMUVwpMXoJux0r9I=
  on:
    tags: true
  edge: true
